@import "compass/reset";
@import "compass";
@import "solarized-light";

html,body {
  font-family: "Helvetica", sans-serif;
  font-size: 100%;
}

a {
  color: #268bd2;
  padding-bottom: 2px;
  text-decoration: none;
  border-bottom: 0 solid #268bd2;

  &:hover {
    border-bottom-width: 3px;
  }
}

nav {
  padding: 30px 0;
}
.blog-header {
  a {
    font-size: 40px;
  }
  padding-bottom: 100px;
}

h1, h2, h3, h4, h5, h6 {
  color: #cb4b16;

  a {
    color: #cb4b16;
    border-color: #cb4b16;
  }
}

code {
  background-color: #fdf6e3;
  border: 1px solid #cb4b16;
  border-radius: 5px;
  padding: 0 5px;
}

article .title {
  font-size: 36px;
  margin: 36px 0 0 0;
  font-weight: 700;
}

h1 {
  font-size: 26px;
  margin: 23px 0 0 0;
}

p {
  padding: 23px 0;
  font-size: 23px;
  line-height: 1.5;
  color: #373737;
}

pre {
  margin: 1em 0;
  padding: 1em;
  font-family: monospace;
  font-size: 1.4em;
  line-height: 1.35;
  background-color: #fdf6e3;
}

ul {
  padding: 0 2em;
  list-style: disc;
}

.layout {
  max-width: 700px;
  width: 100%;
  margin: auto;

  #main {
    width: 100%;
    float: left;
    @include box-sizing(border-box);
    padding: 1rem;
  }

  header {
    h1 {
      font-size: 40px;
    }
    p {
      padding: 10px 0;
    }

    margin: 60px 0 30px 0;
  }
}
