---
pageable: true
per_page: 10
---
<header class="blog-header">
  <img class='round-image' src="images/me.png" alt="Igor Šarčević">

  <h1 class="name">Igor Šarčević</h1>
  <h2 class="occupation"><strong>{ web }</strong> developer</h2>
</header>

<section class="projects">
  
  <article class="project">
    <a href="http://shiroyasha.github.io/randomGameOfLife/">
      <img class="thumb" src="images/thumb/gliders.png">
      <h1>Gliders</h1>
    </a>
  </article>

  <article class="project">
    <a href="http://hrc.herokuapp.com/">
      <img class="thumb" src="images/thumb/hrc.png">
      <h1>HRC</h1>
    </a>
  </article>

  <article class="project">
    <a href="http://jsbin.com/AtuhaQU/26">
      <img class="thumb" src="images/thumb/webcv.png">
      <h1>WebCV</h1>
    </a>
  </article>

  <article class="project">
    <a href="https://github.com/shiroyasha/bracket">
      <img class="thumb" src="images/thumb/bracket.png">
      <h1>Bracket</h1>
    </a>
  </article>

  <article class="project">
    <a href="http://xogame.herokuapp.com/">
      <img class="thumb" src="images/thumb/xogame.png">
      <h1>XO Game</h1>
    </a>
  </article>

</section>
