---
pageable: true
per_page: 10
---
<header class="blog-header">
  <img class='round-image' src="https://pbs.twimg.com/profile_images/479640993533136897/HIP5xlwB.jpeg" alt="Igor Šarčević">

  <h1 class="name">Igor Šarčević</h1>
  <h2 class="occupation"><strong>{ web }</strong> developer</h2>
</header>

<section class="projects">
  
  <article class="project">
    <a href="http://shiroyasha.github.io/randomGameOfLife/">
      <img class="thumb" src="https://dl-web.dropbox.com/get/test/Screenshot%20from%202014-07-29%2000%3A51%3A44.png?_subject_uid=172529431&w=AACo9K8_ItnUNY4_50ws-qboqZeVvayGKrN5gQua-8lPrg">
      <h1>Gliders</h1>
    </a>
  </article>

  <article class="project">
    <a href="http://hrc.herokuapp.com/">
      <img class="thumb" src="https://dl-web.dropbox.com/get/test/Screenshot%20from%202014-07-29%2000%3A53%3A16.png?_subject_uid=172529431&w=AAD4XHRQfIhgzv9ZMU-mSiMnF-91N7iBhFKdFd7DUXclig">
      <h1>HRC</h1>
    </a>
  </article>

  <article class="project">
    <a href="http://jsbin.com/AtuhaQU/26">
      <img class="thumb" src="https://dl-web.dropbox.com/get/test/Screenshot%20from%202014-07-29%2000%3A58%3A38.png?_subject_uid=172529431&w=AAByWmBl90udFsM0dDIQxijG0o-RrDDAVLk6pvFpPuUs1w">
      <h1>WebCV</h1>
    </a>
  </article>

  <article class="project">
    <a href="https://github.com/shiroyasha/bracket">
      <img class="thumb" src="https://dl-web.dropbox.com/get/test/Screenshot%20from%202014-07-29%2001%3A06%3A13.png?_subject_uid=172529431&w=AADC2x6HE53CFzxB6jRgy_1AC_fNsqMK6mpZgEwdxIDqRg">
      <h1>Bracket</h1>
    </a>
  </article>

</section>
