<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <title><%= "#{current_article.title} &ndash;" if current_article %> Igor Šarčević</title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= stylesheet_link_tag 'layout' %>
  </head>
  <body>
    <div class="layout">
      <%= yield %>
    </div>
  </body>
</html>
